---
import Layout from '../layouts/Layout.astro';
import ScreenShareChat from '../components/ScreenShareChat.vue';
---

<Layout title="Compartir Pantalla">
    <main class="h-screen">
        <ScreenShareChat client:only="vue"/>
    </main>
</Layout>
